.brands {
  @include basic-style;

  &__head {
    margin-bottom: $spacing-sm;
  }

  &__title {
    margin-bottom: $spacing-md;
    @include title-style;
  }

  &__slider {
    overflow: hidden;

    @media (min-width: 431px) {
      overflow: hidden;
      padding: 0;
    }
    &.swiper {
      @include respond-to(tablet) {
        overflow: hidden;
        margin-bottom: $spacing-md;
      }
    }
  }

  &__list {
    display: flex;

    @include respond-to(tablet) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: $spacing-sm;
      max-height: 350px;
      overflow: hidden;
    }

    @include respond-to(desktop) {
      grid-template-columns: repeat(4, 1fr);
    }

    &.swiper-wrapper {
      @include respond-to(tablet) {
        display: grid !important;
        transform: none !important;
        flex-wrap: unset;
      }
    }

    &--collapsed {
      @media (min-width: 431px) and (max-width: 768px) {
        .brands__item:nth-child(n + 7) {
          display: none !important;
        }
      }

      @include respond-to(desktop) {
        .brands__item:nth-child(n + 9) {
          display: none !important;
        }
      }
    }

    &--expanded {
      max-height: none;
    }
  }

  &__item {
    display: flex !important;
    flex-shrink: 0;
    @include item-style;
    min-height: 120px;
  }

  &__logo {
    display: flex;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    width: 100%;
    min-height: 100px;
  }

  &__logo-img {
    max-width: 120px;
    max-height: 40px;
    object-fit: contain;
  }

  &__icon {
    @include white-button-style;
    align-self: flex-end;
    margin-top: auto;
  }

  &__icon-img {
    @include icon-img-style;
  }
}

.swiper-pagination {
  @include swiper-pagination-container;

  @media (max-width: 430px) {
    position: relative !important;
    margin-top: $spacing-md;
  }
}

.swiper-pagination-bullet {
  @include swiper-pagination-bullet;
}

.change-btn {
  @include change-btn;
}
