
.brands {
    padding: $spacing-sm $spacing-xs;
    background: $color-bg;

    @include respond-to(tablet) {
    padding: $spacing-lg;
    }


&__head {
    margin-bottom: $spacing-sm;
}

&__title {
    // font-size: 16px;
    margin: 0 0 $spacing-md;
    text-transform: uppercase;
    color: $color-text-secondary;
}

&__slider {
    overflow: hidden;

    @media (min-width: 431px) {
        overflow: visible;
    }
    &.swiper {
        @include respond-to(tablet) {
        overflow: visible;
        margin-bottom: 20px;
        }
    }
}

&__list {
    display: flex;

    @media (min-width: 431px) {
        flex-wrap: wrap;
        gap: $spacing-sm;
    }
    &.swiper-wrapper {
        @include respond-to(tablet) {
        transform: none !important;
        flex-wrap: wrap;
        }
    }
    &--collapsed {
        @media (min-width: 431px) and (max-width: 768px) {
        .brands__item:nth-child(n+7) {
        display: none;
        }
    }

        @include respond-to(tablet) {
        .brands__item:nth-child(n+9) {
        display: none;
        }
    }
    }
}

&__item {
    @include item-style
}

&__logo-img {
    max-width: 120px;
    max-height: 40px;
    object-fit: contain;
}

&__icon {
    @include white-button-style;
}

&__icon-img {
    @include icon-img-style;
}
}

.swiper-pagination {
    @include swiper-pagination-container;
}

.swiper-pagination-bullet {
    @include swiper-pagination-bullet;
}


.change-btn {
    @include change-btn;

    @include respond-to(tablet) {
        margin: 0 0 0 auto;
        align-self: center;
    }
}
