.footer{
    padding: 16px;
    background: #F8F8F8;
    font-family: 'TT Lakes', sans-serif;
}
.footer__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
}


.footer__copyright, .footer__policy, .footer__disclaimer {
    display: flex;
    flex-direction: column;

}
.footer__text{
    font-size: 14px;
    color: #7E7E82;
    margin: 0;
}

.footer__link {
    font-size: 14px;
    color: #7E7E82;
    text-decoration: none;
    transition: opacity 0.3s;
}

.footer__link:hover {
    opacity: 0.7;
}

@media (min-width: 431px) {
.footer {
    padding: 24px 24px;
}

.footer__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
}

.footer__copyright {
    flex: 0 0 auto;
}

.footer__policy {
    flex: 0 0 auto;
}

.footer__disclaimer {
    flex: 0 0 auto;
    max-width: 300px;
}
}