.footer{
    padding: $spacing-sm;
    background: $color-bg;
    font-family: $font-family;
}

.footer__container{
    @include flex-column;
    align-items: center;
    text-align: center;
    gap: $spacing-sm;

    @include respond-to(tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    padding: $spacing-md;
    }
    
    @include respond-to(desktop) {
    padding: $spacing-lg;
    }
}

.footer__copyright, .footer__policy, .footer__disclaimer {
    @include flex-column;
    @include respond-to(tablet) {
    flex: 0 0 auto;
    }
}
.footer__disclaimer {
    @include respond-to(tablet){
    max-width: 300px;
    }
}

.footer__text{
    @include footer-text-style;
    margin: 0;
}

.footer__link {
    @include footer-text-style;
    // text-decoration: none;
    transition: opacity 0.3s;
    &:hover {
    opacity: 0.7;
}
}

// @media (min-width: 431px) {
// .footer {
//     padding: 24px 24px;
// }

// .footer__container {
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: flex-start;
//     text-align: left;
// }

// .footer__copyright {
//     flex: 0 0 auto;
// }

// .footer__policy {
//     flex: 0 0 auto;
// }

// .footer__disclaimer {
//     flex: 0 0 auto;
//     max-width: 300px;
// }
// }