.mobile-menu {

&__fixed{
    position: fixed;
    @include flex-column;
    z-index: 100;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 320px;
    height: 100%;
    box-shadow: 4px 0 24px rgba(0,0,0,0.06);
    background-color: $color-white;
    font-feature-settings: "zero" 1;

    @media (max-width: 320px) {
    width: 100%;
    }
}

&__header{
    @include flex-space-between;
    padding: 24px 20px 10px 20px;
}
&__btn{
    @include flex-center;
    @include button-styles;
   //transition: filter 0.3s, opacity 0.3s; //проверить остальыне кнопки, нужно ли оставлять в миксине? 
//     &:hover{
//     filter: brightness(0.8);
//     opacity: 0.7;
// }
}

&__logo{
    font-size: 34px;
    color: $color-logo;
}

&__nav{
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
}
&__list{
    list-style: none;
    margin: 0;
    padding: 0 0 0 24px;
}
&__item{
    // color: $color-text;
    // font-size: $font-size-base;
    font-weight: 700;
    margin-bottom: 20px;
    cursor: pointer;
    transition: opacity 0.2s;
    opacity: 0.95;
    &:hover{
    opacity: 0.6;
}
}

&__footer{
padding: 0 0 32px 24px;
}

&__contacts{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 10px;
}

&__email{
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    // color:#1B1C21;
    // font-size: 16px;
    font-weight: 500;
    }

&__phone{
    font-size: $font-size-large;
    font-weight: 700;
    margin-bottom: 14px;
    // color:#1B1C21;
}

&__lang{
    display: flex;
    gap: 16px;
}

&__lang-item{
// font-size: 16px;
// color: #1B1C21;
font-weight: 500;
cursor: pointer;
transition: color 0.3s;
    &--active{
    color: $color-text-secondary;
    }
}
}