.mobile-menu {
  &__fixed {
    position: fixed;
    inset: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;

    &--open {
      display: block;
    }

    &-content {
      @include flex-column;
      height: 100%;
      width: 320px;
      box-shadow: 4px 0 24px rgba(0, 0, 0, 0.06);
      background-color: $color-white;
      font-feature-settings: 'zero' 1;
      overflow-y: auto;

      @include respond-to(tablet) {
        width: 360px;
      }

      @include respond-to(desktop) {
        width: 360px;
      }
    }
  }

  &__header {
    @include flex-space-between;
    padding: 24px 20px 10px 20px;
  }
  &__btn {
    @include flex-center;
    @include button-styles;
  }

  &__logo {
    font-size: 34px;
    color: $color-logo;
  }

  &__nav {
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
  }
  &__list {
    list-style: none;
    margin: 0;
    padding: 0 0 0 $spacing-md;
  }
  &__item {
    font-weight: 500;
    margin-bottom: 20px;
    cursor: pointer;
    transition: opacity 0.2s;
    opacity: 0.95;

    &:hover {
      opacity: 0.6;
    }
  }
  &__link {
    position: relative;
    padding-left: $spacing-sm;
  }

  &__link::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 32px;
    border-radius: 2px;
    background-color: transparent;
    transition: background-color 0.2s;
  }
  &__item:hover &__link::before {
    background-color: $color-accent-secondary;
  }

  &__footer {
    padding: 0 0 32px 24px;
  }

  &__contacts {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 10px;
  }

  &__email {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    // color:#1B1C21;
    // font-size: 16px;
    font-weight: 500;
  }

  &__phone {
    font-size: $font-size-large;
    font-weight: 700;
    margin-bottom: 14px;
    // color:#1B1C21;
  }

  &__lang {
    display: flex;
    gap: 16px;
  }

  &__lang-item {
    font-weight: 500;
    cursor: pointer;
    transition: color 0.3s;
    &--active {
      color: $color-text-secondary;
    }
  }
}
