.mobile-menu__fixed{
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 100;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 320px;
    height: 100%;
    box-shadow: 4px 0 24px rgba(0,0,0,0.06);
    background-color: #FFFFFF;
    font-family: "TT Lakes", sans-serif;
    font-feature-settings: "zero" 1;
}
.mobile-menu__header{
    display: flex;
    padding: 24px 20px 10px 20px;
    align-items: center;
    justify-content: space-between;
}
.mobile-menu__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: filter 0.3s, opacity 0.3s;
}
.mobile-menu__btn:hover{
    filter: brightness(0.8);
    opacity: 0.7;
}

.mobile-menu__logo{
    font-size: 34px;
    color: #80949F;
}

.mobile-menu__nav{
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
}
.mobile-menu__list{
    list-style: none;
    margin: 0;
    padding: 0 0 0 24px;
}
.mobile-menu__item{
    color: #1B1C21;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
    transition: opacity 0.2s;
    opacity: 0.95;
}
.mobile-menu__item:hover{
    opacity: 0.6;
}

.mobile-menu__footer{
padding: 0 0 32px 24px;
}

.mobile-menu__contacts{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 10px;
}

.mobile-menu__email{
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color:#1B1C21;
    font-size: 16px;
    font-weight: 500;
    }

.mobile-menu__phone{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 14px;
    color:#1B1C21;
}

.mobile-menu__lang{
    display: flex;
    gap: 16px;
}

.mobile-menu__lang-item{
font-size: 16px;
font-weight: 500;
color: #1B1C21;
cursor: pointer;
transition: color 0.3s;
}
.mobile-menu__lang-item--active{
    color: #7E7E82;
}
@media (max-width:320px){
    .mobile-menu__fixed
}