.service-type {
  @include basic-style;

  &__head {
    margin-bottom: $spacing-sm;
    background-color: $color-bg;
  }

  &__title {
    margin-bottom: $spacing-md;
    @include title-style;
  }

  &__slider {
    overflow: visible;
    // padding: 0 16px 40px; // добавляем горизонтальные отступы
    // margin: 0 -16px;

    @media (min-width: 431px) {
      overflow: visible;
      padding: 0;
      // margin: 0;
    }
    &.swiper {
      @include respond-to(tablet) {
        overflow: hidden;
        margin-bottom: 20px;
      }
    }
  }
  &__list {
    display: flex;
    max-height: 160px;
    overflow: hidden;

    @media (min-width: 431px) {
      flex-wrap: wrap;
      gap: $spacing-sm;
    }

    @include respond-to(tablet) {
      max-height: none;
      justify-content: flex-start;
    }
    @include respond-to(desktop) {
      justify-content: space-between;
    }

    &--collapsed {
      @media (min-width: 431px) and (max-width: 768px) {
        .service-type__item:nth-child(n + 4) {
          display: none !important;
        }
      }

      @media (min-width: 769px) {
        .service-type__item:nth-child(n + 5) {
          display: none !important;
        }
      }
    }
    &--expanded {
      max-height: none;

      @media (min-width: 431px) {
        .service-type__item {
          display: flex !important;
        }
      }
    }

    &.swiper-wrapper {
      @include respond-to(tablet) {
        transform: none !important;
        flex-wrap: wrap;
      }
    }
  }
  &__item {
    @include item-style;
    display: flex !important;
    justify-content: space-between;
    align-items: flex-start;
    width: calc(100% - 32px) !important;
    max-width: 320px;
    min-height: 160px;
    padding: $spacing-sm $spacing-md;
    margin-bottom: $spacing-lg;
    font-weight: 500;

    @media (min-width: 431px) and (max-width: 768px) {
      width: calc((100% - 32px) / 3) !important;

      &:nth-child(-n + 3) {
        display: flex !important;
        flex-direction: column !important;
      }
    }

    @media (min-width: 769px) {
      width: calc((100% - 48px) / 4) !important;

      &:nth-child(-n + 4) {
        display: flex !important;
        flex-direction: column !important;
      }
    }

    &.swiper-slide {
      @include slide-grid;
    }
  }

  &__type {
    max-width: 140px;
    white-space: nowrap;
  }

  &__icon {
    @include white-button-style;
    align-self: flex-end;
  }

  &__icon-img {
    @include icon-img-style;
  }
}

.swiper-pagination {
  @include swiper-pagination-container;
}

.swiper-pagination-bullet {
  @include swiper-pagination-bullet;
}

.change-btn {
  @include change-btn;
}
