.service-page {
  @include flex-column;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background: $color-white;

  &__header {
    @include flex-space-between;
    padding: 10px 15px;
    background-color: $color-white;
    border-bottom: 1px solid $color-logo;
    position: sticky;
    top: 0;
    z-index: 10;
  }

  &__menu-btn {
    @include button-styles;
  }

  &__logo {
    position: relative;
  }

  &__btn-wrapper {
    align-items: flex-end;
    display: flex;
    gap: 30px;
  }

  &__service-btn,
  &__checkstatus-btn {
    @include button-styles;
  }

  &__menu {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    @media (min-width: 431px) {
      flex-wrap: wrap;
      margin: 10px;
      overflow: hidden;
    }
  }

  &__menu-wrapper {
    display: flex;
    gap: $spacing-xs;
    min-width: max-content;

    @media (min-width: 431px) {
      justify-content: flex-start;
    }
  }

  &__menu-item {
    @include menu-item-style;
    width: 246px;
  }

  &__content {
    @include flex-column;
    gap: $spacing-sm;
    margin-top: 10px;

    @media (min-width: 431px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: start;
      gap: $spacing-lg;
    }
  }

  &__description p {
    margin: 0 0 10px;
    line-height: 1.5;
  }

  &__readmore {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    font-weight: 700;
    font-size: $font-size-base;
    color: $color-text;
    text-decoration: none;
  }

  &__image img {
    width: 100%;
    border-radius: 8px;
  }
}

.separator {
  display: inline-block;
  width: 2px;
  height: 32px;
  background-color: $color-border;
  margin: 0 10px;
  vertical-align: middle;
  border-radius: 1px;
}
