
.service-price {

    padding: $spacing-sm 0;
    background: $color-bg;

    @include respond-to(tablet) {
        padding: $spacing-md;
    }

    @media screen and (min-width: 1024px) {
        padding: $spacing-lg;
    }

    @media screen and (min-width: 1440px) {
        max-width: 1440px;
        margin: 0 auto;
}

&__head {
    padding: 0 $spacing-sm;
    margin-bottom: $spacing-sm;

    @include respond-to(tablet) {
        padding: 0;
        margin-bottom: $spacing-md;
    }

    @media screen and (min-width: 1024px) {
        margin-bottom: $spacing-lg;
    }
}

&__title {
    line-height: 24px;
    margin: 0;
    text-transform: uppercase;
    color: $color-text-secondary;
    background: linear-gradient(to right, $color-bg 0%, $color-white 98.61%);
    padding: $spacing-sm;
    margin: 0 (-$spacing-sm) $spacing-sm;

    @include respond-to(tablet) {
        padding: $spacing-sm $spacing-md;
        margin: 0 (-$spacing-md) $spacing-md;
    }

    @media screen and (min-width: 1024px) {
        padding: $spacing-sm $spacing-lg;
        margin: 0 (-$spacing-lg) $spacing-lg;
    }
}


&__slider {
    overflow: hidden;
    padding: 0 $spacing-sm;

    @include respond-to(tablet) {
        display: none;
    }
}

&__list {
    display: flex;
}

&__card {
    @include flex-column;
    width: 240px;
    padding: $spacing-sm;
    background: $color-white;
    border-radius: 6px;
    box-sizing: border-box;
}

&__card-title {
    @include footer-text-style;
    font-weight: 400;
    line-height: 18px;
    margin: 0 0 12px 0;
    padding-bottom: 12px;
    border-bottom: 1px solid $color-border;
}

&__card-info {
    @include flex-column;
    gap: $spacing-sm;
    margin-bottom: $spacing-sm;
}

&__card-row {
    @include flex-space-between;
}

&__card-label {
    @include footer-text-style;
    line-height: 16px;
}

&__card-value {
    font-size: $font-size-small;
    line-height: 18px;
    
}

&__button {
    @include action-button-style;
        width: 119px;
        align-self: flex-end;
}

&__button-text {
    font-size: $font-size-xs;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: $color-white;
}

&__button-icon { // может тоже миксин добавить?
    @include flex-center;
    width: 24px;
    height: 24px;
    background: $color-button;
    border-radius: 50%;
}

&__button-icon-img {
    width: 8px;
    height: 8px;
}


&__table {
    display: none;

    @include respond-to(tablet) {
      display: table;
      width: 100%;
      border-collapse: collapse;
      background: $color-white;
      border-radius: $border-radius;
      overflow: hidden;
    }
}

&__table-head {
    background: $color-bg;
  }

  &__table-row {
    border-bottom: 1px solid $color-border;

    &:last-child {
      border-bottom: none;
    }

    &--header {
      height: 40px;
    }
  }

  &__table-cell {
    padding: $spacing-sm;
    @include small-text-style;
    line-height: 18px;
    text-align: left;

    @media screen and (min-width: 1024px) {
      padding: 20px $spacing-md;
      font-size: $font-size-base;
      line-height: 24px;
    }

    &:last-child {
      text-align: right;
      width: 150px;
    }

    &--header {
        @include small-text-style;
        line-height: 16px;
      font-weight: normal;
      padding: 12px $spacing-sm;

        @media screen and (min-width: 1024px) {
        font-size: $font-size-base;
        line-height: 18px;
        padding: $spacing-sm $spacing-md;
      }
    }
  }

&__disclaimer {
    padding: $spacing-sm;
    margin-top: $spacing-sm;

     @include respond-to(tablet) {
      padding: 0;
      margin-top: $spacing-md;
    }

    @media screen and (min-width: 1024px) {
      margin-top: $spacing-lg;
      max-width: 1056px;
    }
}

&__disclaimer-text {
    @include small-text-style;
    line-height: 20px;
    margin: 0 0 $spacing-sm 0;

     @include respond-to(tablet) {
      margin-bottom: $spacing-sm;
    }
}

&__link {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px $spacing-sm;
    border-radius: 6px;

    &:hover {
    opacity: 0.7;
    }
}


&__link-text {
    @include small-text-style;
    font-weight: 500;
    line-height: 24px;
    margin-right: 8px;
}

&__link-icon {
    @include flex-center;
    flex-shrink: 0;
}

&__link-icon-img {
    width: 8px;
    height: 12px;
    object-fit: contain;
}
}

.swiper-pagination {
    @include swiper-pagination-container;
}

.swiper-pagination-bullet {
    @include swiper-pagination-bullet;
}
