.service-type {
    padding: $spacing-sm $spacing-xs;
    background: $color-bg;

    @include respond-to(tablet) {
    padding: $spacing-lg;
    }

    &__head {
        margin-bottom: $spacing-sm;
        background: linear-gradient(90deg, $color-bg 0%, #ffffff 100%);
    }

    &__title {
    margin: 0 0 $spacing-md;
    text-transform: uppercase;
    color: $color-text-secondary;
    }

    &__slider {
        overflow: hidden;

        @media (min-width: 431px) {
        overflow: visible;
        }
    &.swiper {
        @include respond-to(tablet) {
        overflow: visible;
        margin-bottom: 20px;
        }
    }
    }
    &__list {
        display: flex;

    @media (min-width: 431px) {
        flex-wrap: wrap;
        gap: $spacing-sm;
    }

    &.swiper-wrapper {
        @include respond-to(tablet) {
        transform: none !important;
        flex-wrap: wrap;
        }
    }

    &--collapsed {
        @media (min-width: 431px) and (max-width: 768px) {
        .service-type__item:nth-child(n+4) {
        display: none;
        }
    }

        @include respond-to(tablet) {
            .service-type__item:nth-child(n+5) {
            display: none;
            }
        }
    }
}

    &__item {
    @include item-style;
    align-items: flex-start;
    min-height: 160px;
    padding: $spacing-sm 20px;
//   text-decoration: none;
}


    &__type {
        max-width: 140px;
//   color: #1b1c21;
//   font-size: 16px;
        white-space: nowrap;
    }

    &__icon {
        @include white-button-style;
        align-self: flex-end;
    }

    &__icon-img {
        @include icon-img-style;
    }
}

.swiper-pagination {
    @include swiper-pagination-container;
}

.swiper-pagination-bullet {
    @include swiper-pagination-bullet;
}


.change-btn {
    @include change-btn;

    @include respond-to(tablet) {
    margin: 0 0 0 auto;
    align-self: center;
    }
}


