.service-type {
    @include basic-style;

    // @include respond-to(tablet) {
    // padding: $spacing-lg;
    // }

    &__head {
        margin-bottom: $spacing-sm;
        background-color: $color-bg;    }

    &__title {
    margin: 0 0 $spacing-md;
    @include title-style;
    }

    &__slider {
        overflow: hidden;
        padding: 0 16px 40px; // добавляем горизонтальные отступы
        margin: 0 -16px; 

        @media (min-width: 431px) {
        overflow: visible;
        padding: 0;
        margin: 0;
        }
    &.swiper {
        @include respond-to(tablet) {
        overflow: visible;
        margin-bottom: 20px;
        }
    }
    }
    &__list {
        display: flex;
        max-height: 160px; 
        overflow: hidden;

        @media (min-width: 431px) {
        flex-wrap: wrap;
        gap: $spacing-sm;
    }
        
        @include respond-to(tablet) {
        max-height: none;
        justify-content: space-between;

        }

        &--collapsed {
        @media (min-width: 431px) and (max-width: 768px) {
        .service-type__item:nth-child(n+4) {
          display: none;
        }
      }

        @media (min-width: 769px) {
        .service-type__item:nth-child(n+5) {
        display: none;
        }
      }
    }
    &--expanded {
        max-height: none;

        @media (min-width: 431px) {
            .service-type__item {
                display: flex !important;
            }
        }
    }

    &.swiper-wrapper {
        @include respond-to(tablet) {
        transform: none !important;
        flex-wrap: wrap;
        }
    }
}
    &__item {
    @include item-style;
    justify-content: space-between;
    align-items: flex-start;
    width: calc(100% - 32px) !important;
    max-width: 320px;
    min-height: 160px;
    padding: $spacing-sm 20px;
    font-weight: 500;
    margin-bottom: $spacing-lg;


     @media (min-width: 431px) and (max-width: 768px) {
      width: calc((100% - 32px) / 3) !important;

      &:nth-child(-n+3) {
    display: flex !important;
    flex-direction: column !important;
    }
    }


    @media (min-width: 769px) {
      width: calc((100% - 48px) / 4) !important;

      &:nth-child(-n+4) {
    display: flex !important;
    flex-direction: column !important;
  }
    }

    &.swiper-slide {
      @media (min-width: 431px) {
        flex-shrink: 0;
      }

      @media (min-width: 431px) and (max-width: 768px) {
        width: calc((100% - 32px) / 3) !important;
        margin: 0 !important;
      }

      @media (min-width: 769px) {
        width: calc((100% - 48px) / 4) !important;
        transform: none !important;
        margin: 0 !important;
      }
    }
}


    &__type {
        max-width: 140px;
        white-space: nowrap;
    }

    &__icon {
        display: flex;
    align-items: center;
    justify-content: center;
    // align-self: flex-end;
    flex: 0 0 40px;
    width: 40px;
    height: 40px;
    background-color: #F8F8F8;
    border: 2px solid #FF3E79;
    border-radius: 50%;
    cursor: pointer;
        align-self: flex-end;
        margin-top: auto !important;
    }

    &__icon-img {
        @include icon-img-style;
    }
}

.swiper-pagination {
    @include swiper-pagination-container;
}

.swiper-pagination-bullet {
    @include swiper-pagination-bullet;
}


.change-btn {
    @include change-btn;

    @include respond-to(tablet) {
    margin: 0 0 0 auto;
    align-self: center;
    }
}


