.service-type {
  @include basic-style;

  &__head {
    margin-bottom: $spacing-sm;
    background-color: $color-bg;
  }

  &__title {
    margin-bottom: $spacing-md;
    @include title-style;
  }

  &__slider {
    overflow: hidden;

    @media (min-width: 431px) {
      overflow: hidden;
      padding: 0;
    }
    &.swiper {
      @include respond-to(tablet) {
        overflow: hidden;
        margin-bottom: $spacing-md;
      }
    }
  }
  &__list {
    display: flex;

    @include respond-to(tablet) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: $spacing-sm;
      max-height: 350px;
      overflow: hidden;
    }

    @include respond-to(desktop) {
      grid-template-columns: repeat(4, 1fr);
    }

    &.swiper-wrapper {
      @include respond-to(tablet) {
        display: grid !important;
        transform: none !important;
        flex-wrap: unset;
      }
    }

    &--collapsed {
      @media (min-width: 431px) and (max-width: 768px) {
        .brands__item:nth-child(n + 4) {
          display: none !important;
        }
      }

      @include respond-to(desktop) {
        .brands__item:nth-child(n + 5) {
          display: none !important;
        }
      }
    }

    &--expanded {
      max-height: none;
    }
  }

  &__item {
    @include item-style;
    display: flex !important;
    min-height: 160px;
    font-weight: 500;
  }

  &__type {
    max-width: 140px;
    white-space: nowrap;
  }

  &__icon {
    @include white-button-style;
    align-self: flex-end;
  }

  &__icon-img {
    @include icon-img-style;
  }
}

.swiper-pagination {
  @include swiper-pagination-container;
}

.swiper-pagination-bullet {
  @include swiper-pagination-bullet;
}

.change-btn {
  @include change-btn;
}
