// $bgColor: #FFFFFF;
// $text: #1B1C21;

// @font-face {
//   font-family: 'TT Lakes';
//   src: url('../fonts/TTLakes-Regular.woff') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }

// body {
//   padding: 1rem;
//   margin: 0;
//   font-family: 'TT Lakes', sans-serif;
//   background-color: $bgColor;
//   color: $text;
// }

@use 'variables';
@use 'fonts';
@use 'global';

@import './blocks/mobile-menu';
@import './blocks/service-page';
@import './blocks/brands';
@import './blocks/service-type';
@import './blocks/service-price';
@import './blocks/footer';
