@import './variables';
@import './fonts';
@import './mixins';
@import './global';

@import './blocks/mobile-menu';
@import './blocks/service-page';
@import './blocks/brands';
@import './blocks/service-type';
@import './blocks/service-price';
@import './blocks/footer';
